html, body {
  height: 100%;
  width: 100%;
  margin:0%;
}

html, body.dark {
  background-color: #121214;
  color: #FFFFFF;
}

html, body.light {
  background-color: #FFFFFF;
  color: #121214;
}

h1 {
  text-align: center;
  color: orange;
  @font-face {
    font-family: ObadiahProRegular;
    src: url("ObadiahProRegular.otf");
  }
}

.grid {
  margin: auto;
  width: 50%
}

.answer {
  font-size: 35px;
  color: white;
  font-family: Helvetica Neue;
  font-weight: 600;
  text-align: center;
  height: 100px;
  width: 15%;
  background-color: #121214;
  border-style: solid;
  border-color: #38383a;
  display: inline-block;
  margin-right: 1%;
  margin-left: 0;
}

.button {
  display: inline-flex;
  height: 40px;
  padding: 0;
  background: orange;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family:'Lora', serif;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.button:hover {
  background-color: #ba3e31;
}

.button:active {
  background-color: #773028;
}

.button__icon, .button__text {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  color: white;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.08);
}