html, body {
  height: 100%;
  width: 100%;
  margin:0%;
}

html, body.dark {
  background-color: #121214;
  color: #FFFFFF;
  
}

html, body.light {
  background-color: #FFFFFF;
  color: #121214;
}

h1 {
  text-align: center;
  color: #ff8c00;
  margin: 0;
  padding: 20px;
}

.grid {
  margin:0px auto;
  width: 50%;
}

.row1, .row2, .row3, .row4, .row5, .row6 {
  display: flex;
  justify-content: center;
}

.space {
  block-size: 5px;
}

html, body.light, .answer {
  background-color: #FFFFFF;
}

html, body.dark, .answer {
  background-color:#121214;
}

.answer {
  font-size: 35px;
  color: white;
  font-family: Helvetica Neue;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  height: 100px;
  width: 15%;
  border-style: solid;
  border-color: #38383a;
  display: inline-block;
  margin-right: 1%;
  margin-left: 0;
}

.answer:focus {
  outline: none;
  background-color: #1a1a1c;
}

.button {
  display: inline-flex;
  height: 40px;
  padding: 0;
  background: #ff8c00;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family:'Lora', serif;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.button:hover {
  background-color: #ba3e31;
}

.button:active {
  background-color: #773028;
}

.button__icon, .button__text {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  color: white;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.08);
}